#main {
    display:flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    position: relative;
    
    padding: 5px;
}
body {  
    background-color: rgb(34, 40, 49);
    color: rgb(228, 227, 233);
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.8);
    font-family: 'Courier New', monospace;
}
.album-art {
  display:flex;
  justify-content: center;
	border-radius:18px;
	margin-top: 7px;
	box-shadow: 0 0 20px 4px rgba(0, 0, 0, 0.7);
}

.songInfo {
  display:flex;
  height:min-content; 
  width: 700px;
	border-radius:10px;
  padding:20px;  
  backdrop-filter: blur(10px) brightness(1);
  color: #fff; 
  
  text-overflow: ellipsis;
  text-align:center;
  flex-direction: column;
  justify-content: center;
  padding:2px;
  padding-right: 0px;
  position: relative;  
  gap: 8px;
  margin-top: 25px;
}


.track-title {
  font-size: 40px;
  font-weight: bold;
  overflow-wrap:break-word;
}
.album-name {
	font-size: 25px;
  overflow-wrap:break-word;
}
.artist-name {
	font-size: 32px;
  font-style: italic;
  overflow-wrap:break-word;
}
.separator {
  color: #666;
}
.playbackControl {
  display:flex;
  width:550px;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  color: rgb(228, 227, 233);
  margin-top:10px;
  position:relative;
  margin-left:80px;
}


.button {
  justify-content: center;
  font-family: 'Courier New';
  font-size: 20px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.button:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

@media (min-width: 768px) {
  .button {
    padding: 0.25em 0.75em;
  }
}



@media only screen 
and (min-device-width: 744px) 
and (max-device-width: 1133px)  
and (orientation: portrait)  
and (-webkit-min-device-pixel-ratio: 2) {
    /* iPad Mini portrait and landscape */
    .idle-container {
      padding: 25px 20px;
      justify-content: space-evenly;
      max-width: 90%;
    }

    .stats-row {
      flex-direction: row;
      gap: 25px;
      margin-bottom: 0;
    }

    .stat_box {
      width: 300px;
      height: 140px;
      padding: 20px;
      max-width: none;
    }

    .stat_box .header {
      top: 15px;
      left: 20px;
      font-size: 13px;
    }

    .stat_box .scrobbles {
      font-size: 45px;
    }

    .stat_box .track {
      font-size: 24px;
      -webkit-line-clamp: 2;
    }

    .stat_box .artist {
      font-size: 16px;
      margin-top: 8px;
    }

    .list {
      font-size: 20px;
      margin: 20px 0;
    }

    .albums {
      grid-template-columns: repeat(4, 1fr);
      gap: 20px;
      max-width: 600px;
      padding-bottom: 30px;
    }

    .top_albums {
      max-width: 140px;
    }
    

    /*Now Playing*/
  #main {
      padding: 150px;
      max-width: 700px;
  }
}


@media only screen 
  and (min-device-width: 744px) 
  and (max-device-width: 1133px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {
  
  #main {
        transform: scale(0.81); /* Everything 15% smaller */
        padding: 0px; 
        margin-top: -50px;
    } 
}
